<% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
    <%= image_tag 'sample-author1.jpg' %>
    <% end %>
    <%= link_to user_path(book.id) do %>
    <%= book.title %>
    <% end %>
    <%= book.body %>
  </div>
<% end %>
