<div>
  <%= image_tag @book.get_image %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
</div>
